<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <!-- In <head> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/12.0.0/nouislider.css" rel="stylesheet">

        <!-- In <body> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/12.0.0/nouislider.js"></script>

        <style>
                .main {
                        display: table;
                        width: 100%;
                }

                .col-md-12 {

                        height: 25px;
                        display: table-row;
                }

        </style>


</head>
<body style="background-color: #FFFFFF">
<div class="main">
        <div class="col-md-12" style="width: 100%;">
                <div class="card text-center" style="border: solid 1px black; width: 100%;margin-top: 30px;">
                        <div class="card-header" style="background-color: #02a374; color: white;">
                                Params
                        </div>
                        <form action="#">
                                <div class="form-group" style="float: left; margin-left: 20px">
                                        <label for="inputX0">X0</label>
                                        <textarea class="form-control" id="inputX0" rows="1">0</textarea>
                                </div>
                                <div class="form-group" style="float: left; margin-left: 20px">
                                        <label for="inputX">X</label>
                                        <textarea class="form-control" id="inputX" rows="1">5.2</textarea>
                                </div>
                                <div class="form-group" style="float: left; margin-left: 20px">
                                        <label for="inputY0">Y0</label>
                                        <textarea class="form-control" id="inputY0" rows="1">1</textarea>
                                </div>
                                <div class="form-group" style="float: left; margin-left: 20px">
                                        <label for="inputStep">Step</label>
                                        <textarea class="form-control" id="inputStep" rows="1">0.4</textarea>
                                </div>
                                <div class="form-group" style="float: left; margin-left: 20px">
                                        <label for="inputN0">N0</label>
                                        <textarea class="form-control" id="inputN0" rows="1">1</textarea>
                                </div>
                                <div class="form-group" style="float: left; margin-left: 20px">
                                        <label for="inputN">N</label>
                                        <textarea class="form-control" id="inputN" rows="1">10</textarea>
                                </div>
                                <button onclick="updateChart()"
                                        style="margin-top: 30px; margin-left: 10px; width: 140px"
                                        class="btn btn-outline-success">Build
                                </button>
                        </form>
                </div>
        </div>

        <div class="col-md-12" style="width: 100%">
                <div id="chartContainer"
                     style="border: solid 1px gray; box-shadow: 0 0 10px #424242; height: 225px; margin-top: 20px">
                </div>
        </div>

        <div class="col-md-12" style=" width: 100%">
                <div style="border-right: solid 1px gray; box-shadow: 0 0 10px #424242; height: 225px;margin-top: 20px"
                     id="errorChartContainer">
                </div>
        </div>

        <div class="col-md-12" style=" width: 100%">
                <div style="border-right: solid 1px gray; box-shadow: 0 0 10px #424242; height: 225px;margin-top: 20px"
                     id="globalErrorChartContainer">
                </div>
        </div>
</div>


</body>

<script>
    // Prepare lists of answers
    var exactSolution = [];
    var eulerMethod = [];
    var improvedEulerMethod = [];
    var rungeKuttaMethod = [];
    var errorEulerMethod = [];
    var errorImprovedEulerMethod = [];
    var errorRungeKuttaMethod = [];
    var totalErrorEulerMethod = [];
    var totalErrorImprovedEulerMethod = [];
    var totalErrorRungeKuttaMethod = [];

    // Default rendering on load
    window.onload = function () {
        exactSolution.length = 0;
        eulerMethod.length = 0;
        improvedEulerMethod.length = 0;
        rungeKuttaMethod.length = 0;
        updateChart();
    };

    //  Get text areas object from html
    var X = document.getElementById('inputX');
    var X0 = document.getElementById('inputX0');
    var Y0 = document.getElementById('inputY0');
    var step = document.getElementById('inputStep');
    var N = document.getElementById('inputN');
    var N0 = document.getElementById('inputN0');


    // Build fields for graphics


    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        zoomEnabled: true,
        theme: "dark1",
        title: {
            text: "Result graph"
        },
        axisX: {
            title: "X",
            interval: parseFloat(step.value)
        },
        axisY: {
            title: "Y",
            prefix: "",
            titleFontColor: "#51CDA0",
            lineColor: "#51CDA0",
            gridThickness: 0,
            lineThickness: 1,
        },
        axisY2: {
            title: "Y",
            prefix: "",
            titleFontColor: "#51CDA0",

            lineColor: "#51CDA0",
            gridThickness: 0,
            lineThickness: 1,
        },
        legend: {
            verticalAlign: "top",
            fontSize: 16,
            dockInsidePlotArea: true
        },
        data: [
            {
                type: "line",
                axisYType: "secondary",
                showInLegend: true,
                name: "Exact solution",
                dataPoints: exactSolution
            },
            {
                type: "line",
                axisYType: "secondary",
                showInLegend: true,
                name: "Euler Method",
                dataPoints: eulerMethod
            },
            {
                type: "line",
                axisYType: "secondary",
                showInLegend: true,
                name: "Improved Euler Method",
                dataPoints: improvedEulerMethod
            },
            {
                type: "line",
                axisYType: "secondary",
                showInLegend: true,
                name: "Runge-Kutta Method",
                dataPoints: rungeKuttaMethod
            }
        ]
    });
    chart.render();

    var error_chart = new CanvasJS.Chart("errorChartContainer", {
        animationEnabled: true,
        zoomEnabled: true,
        theme: "dark1",
        title: {
            text: "Errors graph"
        },
        axisX: {
            title: "X",
            interval: parseFloat(step.value)
        },
        axisY: {
            title: "Error",
            prefix: "",
            titleFontColor: "#6D78AD",
            lineColor: "#6D78AD",
            gridThickness: 0,
            lineThickness: 1,
            //includeZero: false,
        },
        axisY2: {
            title: "Error",
            prefix: "",
            titleFontColor: "#51CDA0",

            lineColor: "#51CDA0",
            gridThickness: 0,
            lineThickness: 1,
        },
        legend: {
            verticalAlign: "top",
            fontSize: 16,
            dockInsidePlotArea: true
        },
        data: [
            {
                type: "line",
                axisYType: "secondary",
                showInLegend: true,
                name: "Exact solution",
                dataPoints: []
            },
            {
                type: "line",
                axisYType: "secondary",
                showInLegend: true,
                name: "Euler Method",
                dataPoints: errorEulerMethod
            },
            {
                type: "line",
                axisYType: "secondary",
                showInLegend: true,
                name: "Improved Euler Method",
                dataPoints: errorImprovedEulerMethod
            },
            {
                type: "line",
                axisYType: "secondary",
                showInLegend: true,
                name: "Runge-Kutta Method",
                dataPoints: errorRungeKuttaMethod
            }
        ]
    });
    error_chart.render();

    var global_error_chart = new CanvasJS.Chart("globalErrorChartContainer", {
        animationEnabled: true,
        zoomEnabled: true,
        theme: "dark1",
        title: {
            text: "Global Error graph"
        },
        axisX: {
            title: "N",
            interval: 1
        },
        axisY: {
            title: "Error",
            prefix: "",
            titleFontColor: "#6D78AD",
            lineColor: "#6D78AD",
            gridThickness: 0,
            lineThickness: 1,
        },
        axisY2: {
            title: "Error",
            prefix: "",
            titleFontColor: "#51CDA0",

            lineColor: "#51CDA0",
            gridThickness: 0,
            lineThickness: 1,
        },
        legend: {
            verticalAlign: "top",
            fontSize: 16,
            dockInsidePlotArea: true
        },
        data: [
            {
                type: "line",
                axisYType: "secondary",
                showInLegend: true,
                name: "Exact solution",
                dataPoints: []
            },
            {
                type: "line",
                axisYType: "secondary",
                showInLegend: true,
                name: "Euler Method",
                dataPoints: totalErrorEulerMethod
            },
            {
                type: "line",
                axisYType: "secondary",
                showInLegend: true,
                name: "Improved Euler Method",
                dataPoints: totalErrorImprovedEulerMethod
            },
            {
                type: "line",
                axisYType: "secondary",
                showInLegend: true,
                name: "Runge-Kutta Method",
                dataPoints: totalErrorRungeKuttaMethod
            }
        ]
    });
    global_error_chart.render();


    // Update rendering and build graphs
    function updateChart() {
        exactSolution.length = 0;
        eulerMethod.length = 0;
        improvedEulerMethod.length = 0;
        rungeKuttaMethod.length = 0;
        errorEulerMethod.length = 0;
        errorImprovedEulerMethod.length = 0;
        errorRungeKuttaMethod.length = 0;
        totalErrorEulerMethod.length = 0;
        totalErrorImprovedEulerMethod.length = 0;
        totalErrorRungeKuttaMethod.length = 0;
        $.getJSON(`/getChart?from=${X0.value}&to=${X.value}&step=${step.value}&y0=${Y0.value}&n0=${N0.value}&n=${N.value}`, function (data) {
            $.each(data["Exact"], function (key, value) {
                exactSolution.push({x: parseFloat(value[0]), y: parseFloat(value[1])});
            });
            $.each(data["Euler"], function (key, value) {
                eulerMethod.push({x: parseFloat(value[0]), y: parseFloat(value[1])});
            });
            $.each(data["Improved_Euler"], function (key, value) {
                improvedEulerMethod.push({x: parseFloat(value[0]), y: parseFloat(value[1])});
            });
            $.each(data["Runge_Kutta"], function (key, value) {
                rungeKuttaMethod.push({x: parseFloat(value[0]), y: parseFloat(value[1])});
            });

            $.each(data["error_Runge_Kutta"], function (key, value) {
                errorRungeKuttaMethod.push({x: parseFloat(value[0]), y: parseFloat(value[1])});
            });
            $.each(data["error_Euler"], function (key, value) {
                errorEulerMethod.push({x: parseFloat(value[0]), y: parseFloat(value[1])});
            });
            $.each(data["error_Impr_Euler"], function (key, value) {
                errorImprovedEulerMethod.push({x: parseFloat(value[0]), y: parseFloat(value[1])});
            });
            $.each(data["total_error_Euler"], function (key, value) {
                totalErrorEulerMethod.push({x: parseFloat(value[0]), y: parseFloat(value[1])});
            });
            $.each(data["total_error_Impr_Euler"], function (key, value) {
                totalErrorImprovedEulerMethod.push({x: parseFloat(value[0]), y: parseFloat(value[1])});
            });
            $.each(data["total_error_Runge"], function (key, value) {
                totalErrorRungeKuttaMethod.push({x: parseFloat(value[0]), y: parseFloat(value[1])});
            });

            chart.render();
            error_chart.render();
            global_error_chart.render();
        });
    }


</script>
</html>
